workflows/Weather Jams.json
{
  "name": "Weather Jams",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1792, -96],
      "id": "manual-trigger",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "list"
        },
        "propertiesUi": {
          "propertyValues": [
            { "key": "Song |title", "title": "={{ $json.track.name }}" },
            { "key": "Album|rich_text", "textContent": "={{ $json.track.album.name }}" },
            { "key": "Artist|rich_text", "textContent": "={{ $json.track.album.artists[0].name }}" },
            { "key": "Spotify Track ID|rich_text", "textContent": "={{ $json.track.album.artists[0].id }}" },
            { "key": "Spotify URL|url", "urlValue": "={{ $json.track.album.artists[0].external_urls.spotify }}" },
            { "key": "Date & Time|date", "date": "={{ $json.played_at }}" },
            { "key": "cover|files", "fileUrls": { "fileUrl": [{ "name": "1", "url": "={{ $json.track.album.images[0].url }}" }] } }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [688, -288],
      "id": "notion-node-1",
      "name": "Create a database page",
      "credentials": { "notionApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Notion account" } }
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-1040, -208],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 2 }] } },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1808, -432],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are an expert Music Supervisor... [Prompt Content]",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-1040, -432],
      "id": "llm-chain",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": { "cityName": "={{ $json.content }}" },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [-1216, -432],
      "id": "weather-node",
      "name": "OpenWeatherMap",
      "credentials": { "openWeatherMapApi": { "id": "YOUR_CREDENTIAL_ID", "name": "OpenWeatherMap account" } }
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.q }}" },
            { "name": "type", "value": "track" },
            { "name": "limit", "value": "10" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-576, -432],
      "id": "spotify-search",
      "name": "HTTP Request",
      "credentials": { "spotifyOAuth2Api": { "id": "YOUR_CREDENTIAL_ID", "name": "Spotify account" } }
    },
    {
      "parameters": {
        "jsCode": "// JS Logic for cleaning JSON"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-752, -432],
      "id": "js-cleaner",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// JS Logic for track formatting"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-368, -432],
      "id": "js-formatter",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "list"
        },
        "propertiesUi": {
          "propertyValues": [
            { "key": "Weather|rich_text", "textContent": "={{ $('OpenWeatherMap').item.json.weather[0].main }} - {{ $('OpenWeatherMap').item.json.main.temp }}°C" },
            { "key": "Vibe|select", "selectValue": "={{ $('Code in JavaScript').item.json.vibe_label }}" },
            { "key": "Date|title", "title": "={{ new Date().toLocaleDateString() }}" },
            { "key": "Play Top Song|url", "urlValue": "={{ $json.top_song_link }}" },
            { "key": "City|rich_text", "textContent": "={{ $('OpenWeatherMap').item.json.name }}" }
          ]
        },
        "blockUi": {
          "blockValues": [
            { "type": "image", "url": "={{ $json.hero_image }}" },
            { "type": "heading_1", "textContent": "={{ $('HTTP Request').item.json.tracks.items[0].album.name }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [-176, -432],
      "id": "notion-node-2",
      "name": "Create a database page2",
      "credentials": { "notionApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Notion account" } }
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gemma3:1b", "mode": "list" },
        "messages": { "values": [{ "content": "Cosmic dice-roller prompt..." }] },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [-1536, -432],
      "id": "ollama-node",
      "name": "Random City",
      "credentials": { "ollamaApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Ollama account" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Random City", "type": "main", "index": 0 }]] },
    "Random City": { "main": [[{ "node": "OpenWeatherMap", "type": "main", "index": 0 }]] },
    "OpenWeatherMap": { "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]] },
    "Google Gemini Chat Model": { "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]] },
    "Basic LLM Chain": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]] },
    "HTTP Request": { "main": [[{ "node": "Code in JavaScript1", "type": "main", "index": 0 }]] },
    "Code in JavaScript1": { "main": [[{ "node": "Create a database page2", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
